# dependencies
node_modules/
backend/logs/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
backend/.env.production
backend/.env.prod
frontend/.env.dev
mobile/.env.production
backend/.env.prod
frontend/.env.production
backend/src/migrations/1763401042726-initSchema.ts1
backend/src/migrations/1763401042726-initSchema.ts
backend/src/migrations/1765299726843-migrations.ts
backend/src/migrations/1765301607517-migrations.ts
backend/src/migrations/1765375914625-migrations.ts
backend/src/migrations/1765902355004-migrations.ts
backend/src/migrations/1765977564376-migrations.ts
frontend/supabase/migrations/20251020145033_create_sps_admin_schema.sql
frontend/package-lock.json
frontend/package.json
backend/src/ai/ai.service (Copie).ts
backend/src/migrations/1769525573306-migrations.ts
backend/src/ai/ai.service copy.ts
backend/package-lock.json
backend/package-lock.json
mobile/package-lock.json
mobile/android/.gitignore
mobile/android/build.gradle
mobile/android/gradle.properties
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/settings.gradle
mobile/android/app/build.gradle
mobile/android/app/debug.keystore
mobile/android/app/proguard-rules.pro
mobile/android/app/src/debug/AndroidManifest.xml
mobile/android/app/src/debugOptimized/AndroidManifest.xml
mobile/android/app/src/main/AndroidManifest.xml
mobile/android/app/src/main/java/com/csps/reportbtp/MainActivity.kt
mobile/android/app/src/main/java/com/csps/reportbtp/MainApplication.kt
mobile/android/app/src/main/res/drawable/ic_launcher_background.xml
mobile/android/app/src/main/res/drawable/rn_edit_text_material.xml
mobile/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
mobile/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
mobile/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
mobile/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
mobile/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
mobile/android/app/src/main/res/values/colors.xml
mobile/android/app/src/main/res/values/strings.xml
mobile/android/app/src/main/res/values/styles.xml
mobile/android/app/src/main/res/values-night/colors.xml
mobile/android/app/src/main/res/xml/network_security_config.xml
mobile/android/gradle/wrapper/gradle-wrapper.jar
mobile/android/gradle/wrapper/gradle-wrapper.properties
mobile/ios/.gitignore
mobile/ios/.xcode.env
mobile/ios/Podfile
mobile/ios/Podfile.properties.json
mobile/ios/ReportBTP/AppDelegate.swift
mobile/ios/ReportBTP/Info.plist
mobile/ios/ReportBTP/ReportBTP-Bridging-Header.h
mobile/ios/ReportBTP/ReportBTP.entitlements
mobile/ios/ReportBTP/SplashScreen.storyboard
mobile/ios/ReportBTP/Images.xcassets/Contents.json
mobile/ios/ReportBTP/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
mobile/ios/ReportBTP/Images.xcassets/AppIcon.appiconset/Contents.json
mobile/ios/ReportBTP/Images.xcassets/SplashScreenBackground.colorset/Contents.json
mobile/ios/ReportBTP/Supporting/Expo.plist
mobile/ios/ReportBTP.xcodeproj/project.pbxproj
mobile/ios/ReportBTP.xcodeproj/xcshareddata/xcschemes/ReportBTP.xcscheme
mobile/ios.zip
mobile/.expo.zip
mobile/android.zip
backend/.env.prod1
